@model IEnumerable<Birthday.Models.EmployeeBirthday>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Month/Day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
                /
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
            </td>
        </tr>
}
    </tbody>
</table>
